*.iml
.gradle
/local.properties
/.idea/caches
/.idea/assetWizardSettings.xml
/.idea/cpuProfilingConfigs.xml
/.idea/deploymentTargetDropDown.xml
/.idea/deploymentTargetSelector.xml
/.idea/deviceManager.xml
/.idea/jarRepositories.xml
/.idea/studiobot.xml
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
/pwa/node_modules
/pwa/dist
