<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.civilizacehra.cipherbreaker">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/icon"
        android:label=""
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PresmyslovnikActivity" />
        <activity android:name=".DebinarizatorActivity" />
        <activity android:name=".DeternarizatorActivity" />
        <activity android:name=".PrincipTrainerActivity" />
        <activity android:name=".MrizkoDrticActivity" />
        <activity android:name=".PrincipReaderActivity"></activity>
    </application>
</manifest>
